/*
 * -------------------------------------------------
 *  Nextflow config file for LPCG (CeNT, Warsaw)
 * -------------------------------------------------
 * Use as follows:
 * nextflow run nf-core/eager -profile test, docker (or singularity, or conda)
 */

params {
  config_profile_name = 'LPCG - human light profile'
  config_profile_description = 'Configuration file for the human "light" analyses, run by the Laboratory of Paleogenetics and Conservation Genetics (LPCG) at the University of Warsaw. Recommended for analyses starting from .BAM files.'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 16
  max_memory = 25.GB
  max_time = 120.h
  
  common_files_path = "/mnt/workspace03/gr7001/share"
  
  // Input references
  fasta = "${params.common_files_path}/references/hs37d5.fa"
  bwa_index = "${params.common_files_path}/references/"
  
  // Sex determination
  run_sexdeterrmine = true
  sexdeterrmine_bedfile = "${params.common_files_path}/genotyping/1240K.pos.list_hs37d5.0based.bed"
  
  // Nuclear contamination
  run_nuclear_contamination = true
  contamination_chrom_name = 'X' // Default to using hs37d5 name
  
  // Genotyping
  run_genotyping = true
  genotyping_tool = 'pileupcaller'
  // Sequencetools pileupCaller
  pileupcaller_snpfile = "${params.common_files_path}/genotyping/1240K.snp"
  pileupcaller_bedfile = "${params.common_files_path}/genotyping/1240K.pos.list_hs37d5.0based.bed"
}

//cleanup = true

process {
		max_cpus = 32
		max_memory = 32.GB
		max_time = 144.h
	
	    maxRetries = 4

		withLabel:'mc_medium' {
			cpus = {4 * task.attempt}
			memory = {8.GB * task.attempt} 
			time = {120.h + 6.h * task.attempt}
		}
	  
		withName:'damageprofiler' {
			cpus = 4
			memory = {16.GB * task.attempt}
			time = {4.h * task.attempt}
			ext.args = '-Xmx12g'
		}
}